body {
    background-image: url(images/pawsTile.png);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

}

header {
    text-align: center;
    margin-bottom: 2em;
    max-width: 100%;
    width: 100vw;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-left: 5em;
    margin-right: 5em;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 130px;
}

.link:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
}

.link h1 {
    margin-bottom: 5px
}

a:link {
    text-decoration: none;
    color: red;
}

a:visited {
    text-decoration: none;
    color: red;
}

.link img {
    border: 1px solid black;
}

.columns {
    display: flex;
    max-width: 75%;
    text-align: center;
    justify-content: center;
}

.col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 60%;
    background-color: #af8260;
    border: 5px solid black;
}

.col1 h1 {
    display: none;
}

.col2 {
    display: none;
    max-width: 50%;
    width: 100%;
    border: 5px solid black;
}

.paw {
    width: 50%;
}

.dogs {
    display: none;
}

.col1 p {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    font-size: larger;
    font-weight: bolder;
    color: black;
}

footer {
    display: flex;
    color: black;
    font-size: larger;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    background-color: #af8260;
    height: 80px;
    width: 100%;
}

.col3 {
    display: none;
    border: 5px solid black;
}

/* hotel page */

.resort {
    text-align: center;
    margin-left: 5em;
    margin-right: 5em;
    border: 10px solid black;
    background-color: #af8260;
}

.bed {
    display: none;
}

.text {
    font-size: 30px;

}

/* contact page */

.operation {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.schedule {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.days {
    flex: 1;
    font-weight: bold;
    margin-right: 10px;
}

.hours {
    flex: 2;
}

.reservations {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.contact {
    margin: 5px 80px 5px 80px;
    border: 10px solid black;
    background-color: #af8260;
}








@media screen and (min-width: 831px) {



    .columns {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1 1 50%;
        justify-content: space-around;
    }

    .paw {
        display: none;
    }

    .dogs {
        display: block;
        width: 100%;
    }

    .col1 p {
        display: none;
    }

    .col1 {
        display: flex;
        flex-wrap: wrap;
        max-width: 45%;
        font-size: 1.3em;
        font-weight: bolder;
        color: black;
        margin-right: auto;
    }

    .col2 {
        display: flex;
        flex-wrap: wrap;
        max-width: 45%;
        font-size: 1.3em;
        font-weight: bolder;
        color: black;
        background-color: #af8260;
    }

    .columns h1 {
        display: block;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
    }

    .link {
        font-size: large;
        max-width: 200px;
    }

    .bed {
        display: block;
        float: left;
        margin-right: 30px;
    }
}





@media screen and (min-width: 1400px) {

    nav {
        margin: 0 15em 0 15em
    }

    .col3 {
        display: flex;
        flex-wrap: wrap;
        max-width: 30%;
        font-size: 1.3em;
        font-weight: bolder;
        color: black;
        background-color: #af8260;
        justify-content: center;
    }

    .col3 h2 {
        margin-left: 20px;
        margin-right: 20px;
    }

    .col1,
    .col2 {
        max-width: 30%;
    }

    .col2 {
        margin-right: auto;
    }


}

/*Formatted and validated*/